@*@model List<List<Match>>

@{
    ViewData["Title"] = "Tournament Ladder";
}

<h1>Tournament Ladder</h1>

@if (Model != null && Model.Count > 0)
{
    <table>
        
            @foreach (var match in round)
            {
                <tr>
                    <td>@match.Player1.Name</td>
                    <td>@match.Player2.Name</td>
                </tr>
            }
    </table>
}
else
{
    <p>No matches found.</p>
}*@