@using BirthdayTekken.Models.ViewModel
@model NewMatchMakerVM


@{
    ViewData["Title"] = "Create a new tournament";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <p>
            <h4>Choose match</h4>
        </p>

        <div class="row">
            <div class="col-md-8 offset-2">
               <form action="ChooseMatch">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                  <div class="row">
                      <div class="col-md-6"> 
                          <div class="form-group">
                              <label asp-for="Name" class="control-label"></label>
                              <input asp-for="Name" class="control-label" />
                              <span asp-validation-for="Name" class="text-danger"></span>
                          </div>                        
                      </div>
                      <div class="col-md-12">
                          <div class="form-group">
                              <label asp-for="ParticipantsIds" class="control-label"></label>
                              <select asp-for="ParticipantsIds" class="form-control" asp-items="ViewBag.Participants" multiple></select>
                              <span asp-validation-for="ParticipantsIds" class="text-danger"></span>
                          </div>     
                      </div>
                      <div class="form-group">
                          <input type="submit" value="ChooseMatch" formmethod="post" class="btn btn-outline-success float-end" />
                          <a class="btn btn-outline-secondary" asp-action="ChooseMatch">Show All</a>
                      </div>
               </form>
            </div>
        </div>
    </div>
</div>







