@{
    ViewData["Title"] = "Add Random Match";
}

<h2>@ViewData["Title"]</h2>

<form asp-controller="Matches" asp-action="AddRandomMatch" method="post">
    <input type="submit" value="Create Random Match" />
</form>