@model List<Match>

@{
    ViewData["Title"] = "Matches";
}

<h1>Matches</h1>
<form asp-action="DeleteAll" method="post">
    <button type="submit">Delete All</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Participants</th>
            <th>Winner</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var match in Model)
        {
            <tr>
                <td>@match.Id</td>
                <td>
                    <ul>
                        @foreach (var participantMatch in match.Participant_Matches)
                        {
                            <li>@participantMatch.Participant.Name</li>
                        }
                    </ul>
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@match.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
