@model List<BirthdayTekken.Models.Match>

@{
    ViewData["Title"] = "Match";
}

<h1>Matches</h1>

<table class="table">
    <thead>
        <tr>
            <th>Match ID</th>
            <th>Participants</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var match in Model)
        {
                    <tr>
                        <td>@match.Id</td>
                        <td>
                            <ul>
                        @if (match.Participant_Matches != null)
                        {
                            @foreach (var participantMatch in match.Participant_Matches)
                            {
                                if (participantMatch.Participant != null)
                                {
                                                    <li>@participantMatch.Participant.Name @participantMatch.Participant.Surname</li>
                                }
                            }
                        }
                            </ul>
                        </td>
                    </tr>
        }
    </tbody>
</table>

<div style="position: fixed; right: 25px; bottom: 25px" class="text white">
    <a asp-controller="Match" asp-action="AddRandomMatch" class="btn btn-success">
    <i class="bi bi-plus-circle"></i>Add New
    </a>
</div>