@model List<BirthdayTekken.Models.Match>

@{
    ViewData["Title"] = "Matches";
}

<h1>Matches</h1>

<table class="table">
    <thead>
        <tr>
            <th>Match ID</th>
            <th>Round Number</th>
            <th>Participants</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var match in Model)
        {
                <tr>
                    <td>@match.Id</td>
                    <td>@match.RoundNumber</td>
                    <td>
                        <ul>
                        @if (match.Participant_Matches != null)
                        {
                            foreach (var participantMatch in match.Participant_Matches)
                            {
                                if (participantMatch.Participant != null)
                                {
                                                    <li>@participantMatch.Participant.Name @participantMatch.Participant.Surname</li>
                                }
                            }
                        }
                        </ul>
                    </td>
                </tr>
        }
    </tbody>
</table>


@await Html.PartialAsync("_CreateItem", "Match")