@model List<List<Match>>

@{
    ViewData["Title"] = "Tournament Ladder";
}

<h1>@ViewData["Title"]</h1>

@foreach (var round in Model)
{
    <h2>Round @round.First().RoundNumber</h2>

   @* <ul>
        @foreach (var match in round)
        {
            <li>
                @foreach (var pm in match.Participant_Matches)
                {
                    @pm.Participant.Name @pm.Participant.Surname
                    @if (pm.Participant.Id == match.Winner?.Id)
                    {
                        (winner);
                    }
                    <br />
                }
            </li>
        }
    </ul>*@
}