@using BirthdayTekken.Models.ViewModel;
@model TournamentMatchesViewModel

@{
    ViewBag.Title = "Tournament Ladder";
}

<h2>Tournament Ladder</h2>

<form asp-action="SelectedTournemantWithMatches" method="post">
    <div>
        <label for="SelectedTournament">Select a tournament:</label>
        <select id="SelectedTournamentId" asp-for="SelectedTournamentId" asp-items="@Model.TournamentList">
            <option value="">-- Select a Tournament --</option>
        </select>
    </div>
    <div>
        <input type="submit" value="Show Matches" />
    </div>
</form>