<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Piotyr Image</title>
</head>
<body>
    <h1>Winner, Winner Winner Wineeeeeeeeeeeeeer</h1>
<img src="~/img/piotyr.jpg" alt="Piotyr Image" width="1000" height="1000">
</body>
</html>
