@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
        <img src="~/img/Tekken_3_capa.png" alt="" />
        <p></p>
        <p></p>
        <p></p>
    <h1 class="display-4">Birthday Tekken</h1>
</div>
