@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<div class="container" style="border: solid 2px blue">
    <div class="row" style="border: solid 2px green">
        <div class="col-12 col-md-6 col-lg-3" style="border: solid 2px red">Col 1</div>
        <div class="col-12 col-md-6 col-lg-9" style="border: solid 2px red">Col 2</div>
    </div>
    <div class="row" style="border: solid 2px green">
        <div class="col-12 col-md-6 col-lg-4" style="border: solid 2px red">Col 1</div>
        <div class="col-12 col-md-6 col-lg-8" style="border: solid 2px red">Col 2</div>
    </div>
</div>

<button class="btn btn-outline-primary" id="show-toast">Show toast</button>

<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div class="toast">
        <div class="toast-header">
            Success!
            <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
        </div>
        <div class="toast-body">
            Hello world!
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $("#show-toast").click(function(){
            $(".toast").addClass("show");
        });
    });
</script>