@using BirthdayTekken.Enums;
@model Participant

@{
    ViewData["Title"] = " Edit Participant";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Edit Participant</h1>
        </p>
        <div class="row">
             <div class="col-md-8 offset-2">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group text-center">
                    <img id="ProfilePicturePreview" class="border-info rounder-circle" style="max-width: 150px"/>
                </div>
        <div class="form-group text-center">
    <img id="ProfilePicturePreview" class="border-info rounder-circle"
         style="max-width: 150px"
         src="@Url.Action("GetImage", "Participants", new { id = Model.Id })" />
</div>
                <div class="form-check group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                      <div class="form-check group">
                    <label asp-for="Surname" class="control-label"></label>
                    <input asp-for="Surname" class="form-control" />
                    <span asp-validation-for="Surname" class="text-danger"></span>
                </div>
                 <div class="form-check group">
                    <label asp-for="Champion" class="control-label"></label>
                    <select asp-for="Champion" asp-items="Html.GetEnumSelectList<Champion>()" class="form-control">
                    <option selected="selected" value="">Choose your champion!</option>
                    </select>
                    <span asp-validation-for="Champion" class="text-danger"></span>
                </div>
                <div class="form-check group">
                    <label asp-for="TournamentsWon" class="control-label"></label>
                    <input asp-for="TournamentsWon" class="form-control" />
                    <span asp-validation-for="TournamentsWon" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-outline-success float-right" />
                    <a class="btn btn-outline-secondary" asp-action="Index">Show All</a>
                </div>
             </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
        <script>
                const pictureInput = document.getElementById('ProfilePictureFile');
                const pictureElement = document.getElementById('ProfilePicturePreview');

                pictureInput.addEventListener('change', function() {
                    const fileReader = new FileReader();
                    fileReader.onload = function(e) {
                        pictureElement.src = e.target.result;
                    };
                    fileReader.readAsDataURL(pictureInput.files[0]);
                });
        </script>
}