@model Tournament

@{
    ViewData["Title"] = "Add a new ";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Details for @Model.Name</h1>
        </p>
        <div class="row">
             <div class="col-md-8 offset-2">
                <div class="form-group text-center">
                    <img class="border-info rounder-circle" style="max-width: 150px" id="ProfilePicturePreview"/>
                </div>
                <div class="form group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" readonly />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                      <div class="form group">
                    <label asp-for="TournamentDate" class="control-label"></label>
                    <input asp-for="TournamentDate" class="form-control" readonly/>
                    <span asp-validation-for="TournamentDate" class="text-danger"></span>
                </div>
                      <div class="form group">
                    <label asp-for="WinnerId" class="control-label"></label>
                    <input asp-for="WinnerId" class="form-control" readonly/>
                    <span asp-validation-for="WinnerId" class="text-danger"></span>
                </div>
                <div class="form group">
                    <label asp-for="PlayersNumber" class="control-label"></label>
                    <input asp-for="PlayersNumber" class="form-control" />
                    <span asp-validation-for="PlayersNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <a class="btn btn-outline-success" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                    <a class="btn btn-outline-secondary float-end" asp-action="Index">Show All</a>
                 </div>
                </div>
            </div>
        </div>
    </div>

@section Scripts{ 
                    <script>
                        $(document).ready(function () {
                            var output = document.getElementById('ProfilePicturePreview');
                            output.src = $("#ProfilePictureURL").val();
                        })
                    </script>
}